<a href="https://colab.research.google.com/github/Arzelianeha/Hello-World_Phyton/blob/main/kisikisi%20uts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
def kalkulator():
    a = float(input("masukkan bilangan pertama:"))
    b = float(input("masukkan bilangan kedua :"))
    operasi = input("pilih operasi (+, -, *, /):")
    if operasi == "+":
        hasil = a + b
    elif operasi == "-":
        hasil = a - b
    elif operasi == "*":
        hasil = a * b
    elif operasi == "/":
        hasil = a / b
    else:
        print("operasi tidak valid")
        return
    print("hasil:", hasil)

kalkulator()

masukkan bilangan pertama:2
masukkan bilangan kedua :1
pilih operasi (+, -, *, /):+
hasil: 3.0

In [10]:
#Pola Segitiga
print("1. Pola Segitiga")
n = 5
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end='')
    print()
print()

1. Pola Segitiga
1
12
123
1234
12345

In [13]:
#Nilai Mahasiswa
print("2. Nilai Mahasiswa")
n = int(input("Masukkan jumlah mahasiswa: "))
nilai = []
for i in range(n):
    nilai.append(float(input("Masukkan nilai mahasiswa ke-{}: ".format(i+1))))
print("Seluruh nilai mahasiswa:")
for v in nilai:
    print(v)
rata = sum(nilai)/n
print("Rata-rata nilai: {:.2f}".format(rata))
print("Nilai tertinggi:", max(nilai))
print("Nilai terendah:", min(nilai))
print()

2. Nilai Mahasiswa
Masukkan jumlah mahasiswa: 2
Masukkan nilai mahasiswa ke-1: 90
Masukkan nilai mahasiswa ke-2: 80
Seluruh nilai mahasiswa:
90.0
80.0
Rata-rata nilai: 85.00
Nilai tertinggi: 90.0
Nilai terendah: 80.0

In [17]:
#Penjumlahan Matriks 2x2
print("3. Penjumlahan Matriks")
print("Masukkan matriks A (2x2):")
A = []
for _ in range(2):
    A.append(list(map(int, input().split())))
print("Masukkan matriks B (2x2):")
B = []
for _ in range(2):
    B.append(list(map(int, input().split())))
print("Hasil penjumlahan:")
for i in range(2):
    for j in range(2):
        print(A[i][j] + B[i][j], end=' ')
    print()
print()

3. Penjumlahan Matriks
Masukkan matriks A (2x2):
1 2
3 4
Masukkan matriks B (2x2):
5 6
7 8
Hasil penjumlahan:
6 8
10 12

In [21]:
#Kalkulasi Gaji
print("4. Kalkulasi Gaji")
def gaji_bersih(gaji):
    tunjangan = gaji * 0.1
    potongan = gaji * 0.05
    return gaji + tunjangan - potongan
gaji = float(input("Masukkan gaji pokok: "))
print("Gaji bersih:", gaji_bersih(gaji))

4. Kalkulasi Gaji
Masukkan gaji pokok: 3000000
Gaji bersih: 3150000.0

In [22]:
# Program sederhana nilai mahasiswa

n = int(input("Masukkan jumlah mahasiswa: "))
nilai = []

for i in range(n):
    while True:
        n_val = int(input(f"Masukkan nilai mahasiswa ke-{i+1} (0-100): "))
        if 0 <= n_val <= 100:
            nilai.append(n_val)
            break
        print("Nilai harus antara 0 sampai 100!")

print("\nSeluruh nilai mahasiswa:", nilai)

rata_rata = sum(nilai) / n
print("Rata-rata nilai:", rata_rata)
print("Nilai tertinggi:", max(nilai))
print("Nilai terendah:", min(nilai))

Masukkan jumlah mahasiswa: 10
Masukkan nilai mahasiswa ke-1 (0-100): 90
Masukkan nilai mahasiswa ke-2 (0-100): 99
Masukkan nilai mahasiswa ke-3 (0-100): 98
Masukkan nilai mahasiswa ke-4 (0-100): 97
Masukkan nilai mahasiswa ke-5 (0-100): 96
Masukkan nilai mahasiswa ke-6 (0-100): 95
Masukkan nilai mahasiswa ke-7 (0-100): 94
Masukkan nilai mahasiswa ke-8 (0-100): 93
Masukkan nilai mahasiswa ke-9 (0-100): 92
Masukkan nilai mahasiswa ke-10 (0-100): 91

Seluruh nilai mahasiswa: [90, 99, 98, 97, 96, 95, 94, 93, 92, 91]
Rata-rata nilai: 94.5
Nilai tertinggi: 99
Nilai terendah: 90