<a href="https://colab.research.google.com/github/Arzelianeha/Hello-World_Phyton/blob/main/P8_Arzelia_Neha_2C1240047.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Latihan 1 bu sevi
S = [4, 1, -1, 10, 0, 12]

D = int(input("Masukkan nilai D: "))

S = [x * D for x in S]

print("Array setelah dikalikan dengan D:", S)

Masukkan nilai D: 2
Array setelah dikalikan dengan D: [8, 2, -2, 20, 0, 24]

In [12]:
# Latihan 2 bu sevi
N = int(input("Masukkan jumlah elemen array T (N): "))

print("Masukkan elemen-elemen array T:")
T = [int(input(f"Elemen ke-{i+1}: ")) for i in range(N)]

# Cari nilai terbesar
nilai_terbesar = T[0]  # Inisialisasi nilai terbesar dengan elemen pertama
for elemen in T:
    if elemen > nilai_terbesar:
        nilai_terbesar = elemen

# Output nilai terbesar
print("Nilai terbesar dari array T adalah:", nilai_terbesar)

Masukkan jumlah elemen array T (N): 10
Masukkan elemen-elemen array T:
Elemen ke-1: 9
Elemen ke-2: 12
Elemen ke-3: 30
Elemen ke-4: -1
Elemen ke-5: 0
Elemen ke-6: 4
Elemen ke-7: -1
Elemen ke-8: 3
Elemen ke-9: 30
Elemen ke-10: 14
Nilai terbesar dari array T adalah: 30

In [13]:
arr = [10, 20, 30, 40]
arr

[10, 20, 30, 40]

In [14]:
list_numbers = [1, 2, 3, 4, 5]
list_numbers

[1, 2, 3, 4, 5]

In [15]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
list_numbers[0]

100

**MENDEKLARASIKAN ARRAY**

In [17]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [18]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
data

[1, 2, 3, 'hello', 5.5]

In [19]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
arr

[0, 0, 0, 0, 0]

In [20]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [21]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [22]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [23]:
# Latihan P8
# Membuat array dengan angka acak
arr = [30, 45, 10, 20, 12,7, 19, 13, 17, 2, 10, 27, 5, 29]

# 1. Nilai maksimum
nilai_maks = max(arr)
print("Nilai Maksimum:", nilai_maks)

# 2. Nilai minimum
nilai_min = min(arr)
print("Nilai Minimum:", nilai_min)

# 3. Hasil penjumlahan seluruh elemen
hasil_penjumlahan = sum(arr)
print("Hasil Penjumlahan:", hasil_penjumlahan)

# 4. Jumlah seluruh elemen
jumlah_arr = len(arr)
print("Jumlah Elemen:", jumlah_arr)

# 5. Rata-rata seluruh elemen
rata_rata = hasil_penjumlahan / jumlah_arr
print("Rata-rata:", rata_rata)

Nilai Maksimum: 45
Nilai Minimum: 2
Hasil Penjumlahan: 246
Jumlah Elemen: 14
Rata-rata: 17.571428571428573